@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,600;1,400&display=swap');

:root {
   --top-bg: #ffede1;
   --bottom-bg: #9b6749;
   --dark-brown: #58190A;
   --light-brown: #9B6647;
   --subtle-brown: #FEECE0;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100vh;
   width: 100vw;
   font-size: 16px;
   background: var(--bottom-bg);
}

body {
   font-family: "Source Serif 4", serif;
}

.container {
   max-width: 1800px;
   margin: 0 2rem;
}

/* =========== TOP =========== */

section#top-section {
   background: var(--top-bg);
}

section #top-div {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 2.5rem;
}

section #pacoca-pic {
   max-width: 30rem;
   min-width: 17rem;
}

section #pacoca-pic img {
   max-width: 100%;
   filter: drop-shadow( 5px 7px 5px black);
}

section #top-div h1 {
   font-size: 4rem;
   font-weight: 600;
   color: var(--dark-brown);
}

section #top-div h2 {
   font-size: 2rem;
   font-weight: 400;
   color: var(--dark-brown);
}

section #top-div h3 {
   font-size: 1.8rem;
   font-weight: 400;
   color: var(--light-brown);
}

section .recipes {
   display: flex;
}

section .recipes div {
   display: flex;
}

section .recipes img {
   margin: 0 0.6rem;
}





/* =========== BOTTOM =========== */


section#bottom-section {
   color: var(--subtle-brown);
   background: var(--bottom-bg);
}

section #bottom-div {
   display: flex;
   justify-content: space-around;
   align-items: start;

   padding: 4rem 0;
}

section #bottom-div .card-title {
   display: flex;
   align-items: baseline;
   gap: 0.4rem;
   margin-bottom: 0.6rem;
}

section #bottom-div h3 {
   font-size: 2rem;
   font-weight: 600;
}

section #bottom-div li {
   color: #ffffff;
   max-width: 43.75rem;
   list-style-position: inside;
   font-size: 1rem;
}

footer {
   color: var(--subtle-brown);
   text-align: center;
   font-size: 0.8rem;
   padding-top: 2.7rem;
}



/* =========== QUERIES =========== */

@media (max-width: 768px) {
   section #top-div {
      margin-top: 0;
      text-align: center;
      flex-direction: column;
   }

   section #top-div h1 {
      text-align: center;
      font-size: 3rem;
   }

   section #top-div h2 {
      font-size: 1.3rem;
      margin-bottom: 0.4rem;
   }

   section #top-div h3 {
      font-size: 1.4em;
   }

   section .recipes {
      display: block;
   }

   section .recipes div {
      display: flex;
      justify-content: center;
   }

   section .recipes img {
      width: 1.4rem;
   }

   section #bottom-div {
      flex-direction: column;
      gap: 3rem;
   }

   section #bottom-div .card-title img {
      width: 1.8rem;
   }

   section .card li {
      margin: 0.8rem 0;
   }

   footer {
      padding: 0;
   }
}

@media (max-width: 480px) {

   section #top-div h1 {
      text-align: center;
      font-size: 2rem;
   }

   section #top-div h2 {
      font-size: 0.82rem;
      margin-bottom: 0.4rem;
   }

   section #top-div h3 {
      font-size: 1rem;
   }

   section #bottom-div .card-title img {
      width: 1rem;
   }

   section #bottom-div h3 {
      font-size: 1.2rem;
      font-weight: 400;
   }
}

::-webkit-scrollbar {
   width: 0;
 }